*

!.gitignore

!makefile
!README.md
!LICENSE

!/.debug/
!/.debug/**/

!/.tmp/
!/.tmp/**/

!/.objs/
!/.objs/**/

!/.github/
!/.github/**/

!/api/
!/api/**/

!/data/
!/data/**/

!/docs/
!/docs/**/

!/lib/

!/test/
!/test/**/

!/tools/

!/Bstr/
!/Bstr/**/

!/Database/
!/Database/**/

!/KVstore/
!/KVstore/**/

!/Main/
!/Main/**/

!/Parser/
!/Parser/**/

!/Query/
!/Query/**/

!/Server/
!/Server/**/

!/Signature/
!/Signature/**/

!/Triple/
!/Triple/**/

!/Util/
!/Util/**/

!/VSTree/
!/VSTree/**/

