# Executables
*.pyc
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/g*
scripts/update_test
scripts/dataset_test
api/cpp/example/example

Parser/Sparql*

#result logs
*.txt
*.log
logs

#backup files
backup.json

#download files
*.torrent
*.iso

#compressed files
*.tar.bz2
*.zip
*.tar.gz
*.7z
*.rar

#temp files
*.dat

#datasets
*.nt
*.n3

#databases
*.db

#pictures
*.jpg
*.jpeg
*.png
*.pdf

#music and movie
*.mp3
*.wav
*.mp4
*.rmvb

# Object files
*.o
*.ko
*.obj
*.elf
*.class

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.jar

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/

# IDE files
cscope*
.cproject
.project
tags
.settings
.vs
*.iml
.idea

# latex files
*.aux
*.toc
*.synctex.gz
*.bak~

# queries
*.sql
*.sh

# modules
node_modules

# query results
*.info

